Click==7.0
Django==2.1.7
django-precise-bbcode==1.2.10
django-taggit==0.24.0
easy-thumbnails==2.6
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Pillow==5.4.1
pytz==2018.9
Werkzeug==0.15.2