{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Ученики {% endblock %}
{% block main %}
		<br/><br/>
		<!-- Main -->
		<br/><br/><br/><br/><br/><br/><br/>
		<section id="main" class="container 75%">
				<header>
				<h2>Наши ученики:</h2>
				</header>
		<div class="row"> 
			{% for i in students_list %}
				<div class="12u">
					<section class="box special features">
					<p><span class="image left"><img src="{{ i.photo.url }}" alt="" /></span></p>
                   <h3>{{ i.name }} {{ i.surname }}</h3>
					<ul class="alt">
						<li>Направление - {{ i.side }}</li>
						<li>Руководитель - {{ i.lider.name }} {{ i.lider.surname }}</li>
					</ul>
					<p><ul class="actions small">
						<li><a href="{% url 'students_list' %}{{ i.id }}/" class="button small">Подробнее</a></li>
					</ul></p>
					</section>
				</div>
			{% endfor %}
		</div> 

		</section>
{% endblock %}
